:root {
	--black: #0f172a;
	--black40: rgba(15, 23, 42, 0.4);
	--white: #fff;
	--gray: #ecf0f3;
	--gold: #bd9f7c;
	--fullBlack: #000;
}

:root {
	--font-family: 'Montserrat', sans-serif;
}

:root {
	--header-height: 93px;

	@media (max-width: 768px) {
		--header-height: 79px;
	}
}

html {
	font-size: 16px;
}

body {
	color: var(--black);
	background-color: var(--white);
	font-size: 1rem;

	&.menu-open {
		overflow: hidden;
	}
}

.honeypot {
	display: none;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

[class$='__container'] {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
	width: 100%;

	@media (max-width: 1024px) {
		padding: 0 20px;
	}

	@media (max-width: 744px) {
		padding: 0 15px;
	}
}

[class$='__container-wide'] {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;

	@media (max-width: 1024px) {
		padding: 0 20px;
	}
}

.p-48 {
	padding-block: 48px;

	@media (max-width: 1024px) {
		padding-block: 40px;
	}

	@media (max-width: 768px) {
		padding-block: 32px;
	}

	@media (max-width: 480px) {
		padding-block: 24px;
	}
}

.p-80 {
	padding-block: 80px;

	@media (max-width: 1024px) {
		padding-block: 64px;
	}

	@media (max-width: 768px) {
		padding-block: 48px;
	}

	@media (max-width: 480px) {
		padding-block: 32px;
	}
}

.text-h1 {
	font-family: var(--font-family);
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 56px;
	letter-spacing: -0.96px;

	@media (max-width: 1024px) {
		font-size: 40px;
		line-height: 56px;
		letter-spacing: -0.48px;
	}

	@media (max-width: 768px) {
		font-size: 36px;
		line-height: 44px;
		letter-spacing: -0.36px;
	}

	@media (max-width: 480px) {
		font-size: 28px;
		line-height: 32px;
		letter-spacing: -0.24px;
	}
}

.text-h2 {
	font-family: var(--font-family);
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: -0.6px;

	@media (max-width: 1024px) {
		font-size: 32px;
		line-height: 36px;
		letter-spacing: 0.32px;
	}

	@media (max-width: 768px) {
		font-size: 30px;
		line-height: 32px;
		letter-spacing: 0.28px;
	}

	@media (max-width: 480px) {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.24px;
	}
}

.text-h3 {
	font-family: var(--font-family);
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px; /* 112.5% */
	letter-spacing: -0.4px;

	@media (max-width: 1024px) {
		font-size: 22px;
		line-height: 28px; /* 140% */
	}

	@media (max-width: 768px) {
		font-size: 20px;
		line-height: 26px; /* 133.333% */
	}
}

.text-h4 {
	font-family: var(--font-family);
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px; /* 116.667% */

	@media (max-width: 1024px) {
		font-size: 20px;
		line-height: 24px; /* 150% */
	}
}

.text-h5 {
	font-family: var(--font-family);
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px; /* 120% */

	@media (max-width: 1024px) {
		font-size: 16px;
		line-height: 24px;
	}
}

.text-italic {
	font-family: var(--font-family);
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.text-base {
	font-family: var(--font-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	letter-spacing: -0.08px;

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 20px;
	}
}

.text-sm {
	font-family: var(--font-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}

.btn-primary {
	cursor: pointer;
	display: flex;
	padding: 16px 24px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--white);
	margin-right: auto;
	transition: all 0.3s ease;
	white-space: nowrap;
	text-align: center;
	background-color: var(--black);
	border-radius: 9999px;

	&:hover {
		opacity: 0.8;
	}
	@extend .text-base;

	@media (max-width: 768px) {
		font-size: 14px;
		padding: 10px 20px;
	}
	&:disabled {
		background-color: var(--black40);
		cursor: not-allowed;
	}
}

.btn-sm {
	margin-right: 0;
	padding: 10px 20px;
	color: #fff;
	text-align: center;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 19.6px */
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
	border-color: var(--gold);
}

.lg-outer .lg-thumb-item {
	border-color: transparent;
}
