.header {
	position: fixed;
	z-index: 9;
	width: 100%;
	top: 0;
	left: 0;
	transform-origin: top center;
	will-change: transform;
	transition: all 0.3s ease;
	&__container-wide {
		max-width: 1400px;
		border: 1px solid transparent;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: 32px;
		align-items: center;
		padding-block: 20px;
		width: 100%;
	}

	&__block {
		display: flex;
		gap: 32px;
	}

	&__logo {
	}

	&__menu {
		display: flex;
		align-items: center;
		gap: 24px;
		color: var(--fullBlack);
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px; /* 142.857% */
	}

	&__link {
		height: 100%;
		display: flex;
		align-items: center;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.7;
		}
	}
}

.hero {
	margin-top: var(--header-height);
	position: relative;
	color: var(--white);

	&__wrapper {
		min-height: 644px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		text-align: center;
	}

	&__info {
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 16px;
	}

	&__title {
		max-width: 840px;
	}

	&__text {
		max-width: 544px;
	}

	&__btn {
		margin-right: 0;
	}

	&__img img {
		position: absolute;
		right: 0;
		bottom: 0;
		object-fit: cover;
		object-position: center;
		height: 100%;
		width: 100%;
		z-index: -1;
	}
}

.partners {
	&__block {
		display: flex;
		flex-direction: column;
		gap: 80px;
		align-items: center;
	}

	&__title {
		text-align: center;
	}

	&__slider {
		width: 100%;
	}

	&__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 252px;
		height: auto;
	}
}

.space {
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 48px;
	}

	&__info {
		display: flex;
		height: 100%;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
	}

	&__img {
		position: relative;
		min-height: 422px;
		height: 100%;

		img {
			position: absolute;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	&__tabs {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 16px;
		max-width: 100%;
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
	}

	&__tab {
		padding: 8px 16px;
		display: flex;
		flex-direction: column;
		border: 1px solid rgba(189, 159, 124, 0.1);
		background: rgba(10, 10, 10, 0.3);
		min-width: 148px;
	}

	&__tab-title {
		color: var(--gold);
	}

	&__p {
		color: var(--white);
		opacity: 0.7;
	}
}

.eventarten {
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
	}

	&__info {
		display: flex;
		gap: 16px;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		max-width: 842px;
	}

	&__grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}

	.item {
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
		gap: 30px;
		background: var(--gray);

		&__info {
			display: flex;
			flex-direction: column;
			gap: 10px;
			color: var(--black);
		}

		&__subtitle {
			font-family: Montserrat;
			font-size: 16px;
			font-style: italic;
			font-weight: 400;
			line-height: 24px; /* 150% */
		}

		&__title {
			font-size: 24px;
			font-style: normal;
			font-weight: 500;
			line-height: 28px; /* 116.667% */
		}
	}
}

.location {
	&__container-wide {
		max-width: 1192px;
		text-align: center;
	}
	&__block {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}

	&__info {
		max-width: 842px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: center;
	}

	&__img {
		width: 100%;
		height: auto;
	}
}

.features {
	background-color: var(--gray);

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 128px;
	}

	&__left {
		display: flex;
		flex-direction: column;
		gap: 16px;
		position: sticky;
		top: calc(30px + var(--header-height));
		height: fit-content;
	}

	&__right {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.item {
		padding: 24px;
		display: flex;
		gap: 24px;
		border: 1px solid rgba(15, 23, 42, 0.12);
		align-items: center;

		&__logo {
			flex-shrink: 0;
			width: 64px;
			height: 64px;
			border-radius: 9999px;
			border: 1px solid var(--gold);
			position: relative;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 20px;
				height: 20px;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}

.gallery {
	&__block {
		display: flex;
		flex-direction: column;
		gap: 64px;
		align-items: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
		text-align: center;
		max-width: 896px;
	}

	&__title {
		max-width: 817px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
	}

	&__item {
		height: 370px;
		cursor: pointer;
		position: relative;
		img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.01);
			transition: all 0.3s ease;
		}

		&:hover {
			&::after {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	&__img,
	&__video {
		grid-column: span 4;
	}

	&__item.grid-6 {
		height: 475px;
		grid-column: span 6;
	}

	&__item.grid-3 {
		height: 475px;
		grid-column: span 3;
	}

	&__video {
		position: relative;

		&::after {
			width: 100px;
			height: 100px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 9999px;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: 1;
		}

		&::before {
			content: '';
			background-image: url(../img/play.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 50px;
			height: 50px;
			transition: all 0.3s ease;
			z-index: 2;
		}

		&:hover {
			&::after {
				background-color: rgba(0, 0, 0, 1);
				transform: translate(-50%, -50%) scale(1.1);
			}
			&::before {
				transform: translate(-50%, -50%) scale(1.1);
			}
		}
	}
}

.reviews {
	&__block {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__slider {
		width: calc(100% - (100vw / 2 - 665px));
		margin-left: calc(100vw / 2 - 665px);
		padding-left: 20px;
	}

	&__slide {
		width: 400px;
		padding: 12px 30px;
		height: auto;
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: 28px;
		justify-content: space-between;
		height: 100%;

		&__block {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		&__info {
			display: flex;
			gap: 20px;
			align-items: center;
		}

		.item {
			&__key {
				color: #878b94;
			}

			&__logos {
				display: flex;
				justify-content: space-between;
				cursor: pointer;
				transition: all 0.2s;

				&::after {
					content: '';
					background-image: url(../img/next.svg);
					width: 24px;
					height: 24px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}

				&:hover {
					opacity: 0.7;
				}
			}

			&__logo {
				height: 20px;
				width: auto;
			}
		}
	}

	&__navigation {
		margin-top: 74px;
		display: flex;
		gap: 28px;
		margin-right: 64px;
		justify-content: flex-end;
		align-items: center;
	}

	&__button-next,
	&__button-prev {
		cursor: pointer;
		&::after {
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			background-image: url(../img/right-arrow\ 1.svg);
		}
	}

	&__button-prev {
		transform: rotate(180deg);
	}
}

.register {
	background-color: var(--gray);
	margin: 12px;
	border-radius: 24px;

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	&__left {
		margin-right: 24px;
		display: flex;
		flex-direction: column;
		gap: 40px;
		position: sticky;
		top: calc(30px + var(--header-height));
		height: fit-content;
	}

	&__info {
		max-width: 420px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.person {
		display: flex;
		gap: 16px;
		align-items: center;

		&__img {
			width: 154px;
			height: 154px;
			position: relative;

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				border-radius: 9999px;
				object-position: center;
				object-fit: cover;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: 16px;
			color: #0f172a;
			font-family: Montserrat;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
		}

		&__title {
			color: #0f172a;
			font-family: Montserrat;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
		}

		&__top {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		&__text {
			font-weight: 400;
		}

		&__foo {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		&__link {
			display: flex;
			gap: 12px;
			align-items: center;

			&:hover {
				.person__logo {
					transform: scale(1.1);
				}
			}
		}

		&__logo {
			width: 16px;
			height: 16px;
			transition: all 0.3s ease;
		}
	}

	.form {
		max-width: 600px;
		margin-left: auto;
		background: none;
		display: flex;
		flex-direction: column;
		gap: 20px;

		&__gender-group {
			display: flex;
			gap: 24px;
			align-items: center;
			margin-bottom: 12px;
		}

		&__gender-label {
			font-size: 14px;
			font-weight: 400;
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		&__gender-radio {
			margin-right: 6px;
			width: 20px;
			height: 20px;
			appearance: none;
			position: relative;
			cursor: pointer;

			&::after {
				content: '';
				width: 100%;
				height: 100%;
				border-radius: 9999px;
				border: 2px solid var(--black);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			&::before {
				content: '';
				width: 12px;
				height: 12px;
				border-radius: 9999px;
				background: var(--black);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all 0.3s ease;
				z-index: 2;
			}

			&:checked {
				&::before {
					opacity: 1;
				}
			}
		}

		&__group {
			position: relative;
		}

		&__label {
			position: absolute;
			color: rgba(15, 23, 42, 0.4);
			font-family: Montserrat;
			top: 28px;
			left: 0;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			transition: all 0.3s ease;
			background-color: var(--gray);
			width: 100%;
			z-index: 5;
			cursor: text;
			white-space: nowrap;
		}

		&__input {
			width: 100%;
			font-size: 16px;
			padding: 28px 0 14px 0;
			border: none;
			border-bottom: 1px solid rgba(15, 23, 42, 0.12);
			background: transparent;
			outline: none;
			transition: border-color 0.2s;
			cursor: text;
		}

		.form__input:focus ~ .form__label,
		.form__input:not(:placeholder-shown) ~ .form__label {
			top: 0;
			font-size: 12px;
		}

		textarea.form__input {
			min-height: 125px;
			resize: vertical;
			overflow-y: hidden;
		}

		&__checkbox-group {
			display: flex;
			align-items: center;
			gap: 12px;
			margin-top: 8px;
		}

		&__checkbox-label {
			display: flex;
			align-items: center;
			cursor: pointer;
			gap: 12px;
			user-select: none;
			color: #0f172a;
			font-family: Montserrat;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px; /* 150% */
		}

		&__checkbox {
			width: 20px;
			height: 20px;
			appearance: none;
			position: relative;
			cursor: pointer;
			flex-shrink: 0;

			&::after {
				content: '';
				width: 100%;
				height: 100%;
				border: 1px solid var(--black);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			&::before {
				content: '';
				width: 12px;
				height: 8px;
				background-image: url(../img/check.svg);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: all 0.3s ease;
				z-index: 2;
				font-size: 10px;
			}

			&:checked {
				&::before {
					opacity: 1;
				}
			}
		}

		&__button {
			margin-top: 8px;
		}
	}
}

.footer {
	padding-top: 64px;
	padding-bottom: 40px;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 80px;
		width: 100%;
	}

	&__head {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		width: 98px;
		height: 98px;
		position: relative;

		img {
			position: absolute;
			object-fit: contain;
			object-position: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	&__right {
		display: flex;
		max-width: 480px;
		gap: 80px;
	}

	&__block {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__title {
		color: var(--black);
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 140%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 12px;

		img {
			width: 16px;
			height: 16px;
		}

		span {
			color: var(--black);
			text-align: right;
			font-family: Montserrat;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px;
		}
	}

	&__icons {
		display: grid;
		gap: 8px;
		grid-template-columns: repeat(3, 1fr);
	}

	&__icon {
		padding: 12px;
		width: 44px;
		height: 44px;
		border-radius: 100000px;
		background: rgba(0, 0, 0, 0.08);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		img {
			width: 20px;
			height: 20px;
			object-position: center;
			object-fit: contain;
		}
	}

	&__foo {
		display: flex;
		width: 100%;
		justify-content: space-between;
		gap: 32px;
	}

	&__copyright {
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		opacity: 0.4;
	}

	&__pages {
		display: flex;
		gap: 24px;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
	}

	&__page {
		padding-bottom: 2px;
		border-bottom: 1px solid transparent;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			border-color: var(--black);
		}
	}
}
